@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  ::-webkit-scrollbar {
    width: 12px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000000;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f3f46;
    box-shadow: 0 0 5px #202020;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #52525b;
  }
}

.divbox {
  @apply rounded-xl bg-zinc-800 p-5;
}

.item-icon {
  @apply mx-auto rounded-full bg-zinc-900/75 p-0.5 shadow-md shadow-zinc-900;
}

body,
div,
table {
  @apply text-zinc-100;
}

body {
  overflow: overlay;
}
